.nav-link {
  padding: 10px;
  text-decoration: none;
  margin-right: 8px;
}

.mb-3 {
  padding: 10px;
}

form {
  padding-top: 20px;
}

.formbutton {
  margin-left: 10px;
}

.detailsform {
  margin-top: 15px;
}

.editform {
  padding: 15px;
}

.labels {
  padding: 10px;
}

.submitupdate {
  margin-top: 10px;
  margin-right: 10px;
}

.button-1 {
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: lightgray;
  font-size: 14px;
}

p, h2, h3 {
  margin-left: 10px;
}

.li {
  text-decoration: none;
}

.sidebuttons {
  margin: 10px;
  border-radius: 8px;
  background-color: lightgray;
}
